.main-nav {
position: relative;
}

.main-nav__list {
  .list-reset();
}

.main-nav__toggle {
  position: absolute;
  top: -65px;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: inherit;
  // outline: 1px solid red;

  cursor: pointer;
  border: none;
}

 .main-nav--closed .site-list__item {
   display: none;
 }

 .main-nav--closed .main-nav__toggle::before {
   content: "";

   position: absolute;
   top: 15px;
   left: 15px;

   width: 40px;
   height: 4px;

   background-color: @white;
   box-shadow: 0 10px 0 0 @white, 0 20px 0 0 @white;
 }

 .main-nav--closed .main-nav__toggle::after {
   content: "";

   position: absolute;
   top: -2px;
   left: 5px;

   width: 60px;
   height: 60px;
   border-radius: 50%;
   z-index: -1;

   background-color: @pink-fon;
 }

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: @white;
  box-shadow: 0 10px 0 0 @white, 0 20px 0 0 @white;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: @black;
  box-shadow: 0 10px 0 0 @white, 0 20px 0 0 @white;
}

 .main-nav--opened .main-nav__toggle {
   top: -50;
   right: 0;
   left: auto;

   &::before,
   &::after {
     content: "";

     position: absolute;
     top: 25px;
     right: 20px;

     width: 30px;
     height: 4px;

     background-color: @white;
     // opacity: 0.5;
   }

   &::before {
     transform: rotate(45deg);
     box-shadow: none;
   }

   &::after {
     transform: rotate(-45deg);
   }

   &:hover::before,
   &:hover::after {
     background-color: @black;
   }

   &:active::before,
   &:active::after {
     background-color: @black;
   }
}


 .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {

  }

  .main-nav--nojs .user-list__item {
    display: block;
  }

@media (max-width: @mobile-width-only) {
  .main-nav {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
  }

  .main-nav__toggle {
  display: none;
}
  .main-nav--closed .site-list__item {
  display: block;
}
}

@media (min-width: @desktop-width) {

}
