.page-header {
  .flex-mobile();
  background-color: @fon;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 15px 20px 15px;
}

.page-header--scroll {

}

.page-header__logo {
  align-self: flex-start;
  background-color: @white;
  padding: 15px;
  border-radius: 0 0 20px 20px;
}

.page-header__link {
  display: block;
  position: relative;
  width: 290px;
  padding: 10px 65px 10px 80px;
  border-radius: 20px;

  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: @black;
  background-color: @white;
}

.page-header__link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 60px;

  width: 11px;
  height: 16px;

  background-image: url("../img/tel11x16.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;

  width: 100%;
  height: 12px;

  background-color: #e4dccc;
  box-shadow: inset 0px 3px 8px 2px rgba(194,186,170,1);
}

@media (max-width: @mobile-width-only) {

}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
