.page-header {
  background-color: @fon;
  position: fixed;
  z-index: 1
}

.page-header__wrapper {
  .flex-mobile();
  background-color: @fon;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 0 15px 18px 15px;
}

.page-header__logo {
  align-self: flex-start;
  background-color: @white;
  padding: 12px 15px 12px 15px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 12px -6px rgba(0,0,0,0.5);
}

.page-header__link {
  display: block;
  position: relative;
  width: 290px;
  padding: 10px 65px 10px 80px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px -6px rgba(0,0,0,0.5);

  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  color: @black;
  background-color: @white;
}

.page-header__link--close {
  display: none;
}

.page-header__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 42px;

  width: 26px;
  height: 26px;

  background-image: url("../img/icons_buttons.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__wrapper::before {
  content: "";
  position: absolute;
  top: 181px;
  left: 0px;

  width: 100%;
  height: 12px;

  background-color: #e4dccc;
  box-shadow: inset 0px 3px 8px 2px rgba(194,186,170,1);
}

.page-header--scroll::before {
  top: 85px;
}

.nav--open::before {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .page-header--scroll {

    padding-bottom: 0;

    .page-header__logo {
      padding: 10px 8px 8px 8px;

      .logo-image {
        width: 140px;
        height: 50px;
      }
    }

    .page-header__link {
      position: absolute;
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 25px;

      top:15px;
      right: 80px;

      span {
        display: none;
      }
    }

    .page-header__link::before {
      top: 12px;
      left: 12px;
    }

    .main-nav__toggle {
      top: -55px;
    }

    .main-nav--opened .main-nav__toggle {
      top: -55px;
    }

    .site-list__item:last-child {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header {


  }

  .page-header__wrapper {
    padding-bottom: 29px;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__link {
    align-self: flex-end;
    margin-right: 100px;
  }

  .page-header__wrapper::before {
    top: 75px;
  }

}

@media (min-width: @desktop-width) {

  .page-header {
    width: 100%;
    height: 82px;
  }

  .page-header::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 0px;

    width: 100%;
    height: 12px;

    background-color: #e4dccc;
    box-shadow: inset 0px 3px 8px 2px rgba(194,186,170,1);
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 1600px;
  }

  .page-header__wrapper::before {
    display: none;
  }

  .page-header__link {
    align-self: center;
    margin-right: 15px;
    padding: 10px 14px 10px 44px;
  }

  .page-header__link::before {
    left: 15px;
  }



}

@media (min-width: 1600px) {
  .page-header__wrapper {
    left: 50%;
    margin-left: -800px;
  }
}
