.site-list__item a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: normal;
}

.site-list__item:hover {
  background-color: @pink-hover;
  & a:hover {
    font-weight: bold;
    line-height: normal;
    color: @white;
  }
}
.site-list__item a:active {

}

.site-list__item {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.site-list__item:first-child {
  margin-top: 20px;
}

.site-list {
  background-color: @fon;

}

.site-list__item--active {
}

.site-list__phone span {
  width: 180px;
  position: relative;
}

.site-list__phone span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;

  width: 26px;
  height: 26px;

  background-image: url("../img/mobile_icon_black.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

// @media (max-width: @mobile-width-only) {}

@media (min-width: @tablet-width) {
  .main-nav--opened .site-list {
    margin-top: 100px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
  }

  .site-list__item {}

.site-list__item--phone {
    display: none!important;
  }

  .site-list__item:first-child {
    margin-top: 0px;
  }

  .site-list__item a {
    padding: 27px 20px;
  }

  .site-list__item a:hover {
    padding: 26px 20px;
  }
  .site-list__item a:active {}
}
